<th:block th:fragment="feedback">

  <div id="client-feedback">
    <th:block th:replace="~{'fragments/inputs/radioFieldset' ::
                          radioFieldset(inputName='applicationFeedback',
                          label=#{confirmation-feedback.how-easy},
                          fieldsetHelpText=#{general.optional},
                          content=~{::feedbackOptions})}">
      <th:block th:ref="feedbackOptions">
        <th:block
            th:replace="~{'fragments/inputs/radio' :: radio(inputName='applicationFeedback',value=#{confirmation.feedback-input.o1}, label=#{confirmation.feedback-input.o1})}"/>
        <th:block
            th:replace="~{'fragments/inputs/radio' :: radio(inputName='applicationFeedback',value=#{confirmation.feedback-input.o2}, label=#{confirmation.feedback-input.o2})}"/>
        <th:block
            th:replace="~{'fragments/inputs/radio' :: radio(inputName='applicationFeedback',value=#{confirmation.feedback-input.o3}, label=#{confirmation.feedback-input.o3})}"/>
        <th:block
            th:replace="~{'fragments/inputs/radio' :: radio(inputName='applicationFeedback',value=#{confirmation.feedback-input.o4}, label=#{confirmation.feedback-input.o4})}"/>
        <th:block
            th:replace="~{'fragments/inputs/radio' :: radio(inputName='applicationFeedback',value=#{confirmation.feedback-input.o5}, label=#{confirmation.feedback-input.o5})}"/>
      </th:block>
    </th:block>
    <th:block th:replace="~{'fragments/inputs/textArea' ::
              textArea(inputName='applicationFeedbackDetail',
              rows=1,
              helpText=#{general.optional},
              label=#{confirmation.additional-comments},
              ariaLabel='applicationFeedback',
              maxLength=100)}"/>
    <div class="form-card__footer">
      <th:block th:replace="~{'fragments/inputs/submitButton' :: submitButton(
                      text=#{confirmation.submit-feedback}, classes='button button--primary')}"/>
    </div>
  </div>
</th:block>