<th:block th:fragment="whatYouShouldKnow">
  <div class="text--small">
    <h3 class="text--small">Social Security Numbers</h3>
    <ul class="list--bulleted">
      <li>You must give us a social security number for each family member who wants benefits.</li>
      <li>If a person who wants benefits does not have a social security number, that person must
        apply for a number. We can help applicants get their numbers.
      </li>
      <li>If a family member has applied for a social security number, we will not delay your
        application while you wait for the number.
      </li>
      <li>We use social security numbers to prove income. We do not give numbers to other agencies
        like Immigration and Customs Enforcement.
      </li>
    </ul>
    <h3 class="text--small">Citizenship and Immigration Status</h3>
    <ul class="list--bulleted">
      <li>You must tell us about the citizenship and immigration status for each family member who
        wants benefits.
      </li>
      <li>Maryland uses the Systematic Alien Verification and Eligibility or SAVE system through the
        United States Citizenship and Immigration Service (USCIS) formerly known as Immigration and
        Naturalization Service (INS) to verify the alien status of all applicant and recipient
        non-citizen households. Information received from USCIS may affect your household’s
        eligibility and benefit amount.
      </li>
    </ul>
    <h3 class="text--small">Information</h3>
    <ul class="list--bulleted">
      <li>If a family member will not tell us about citizenship, immigration status or social
        security number, that person will not get benefits.
      </li>
      <li>They must still give us proof of income, expenses and other things.</li>
      <li>The other family members who give us their information will get benefits if they meet the
        rules.
      </li>
    </ul>
    <h3 class="text--small">Emergency Medical Assistance</h3>
    Immigrants who are not eligible for other kinds of medical assistance and apply only for
    emergency medical assistance do not have to tell us their social security number, immigration
    or citizenship status.
    <h3 class="text--small">Time Limits</h3>
    <ul class="list--bulleted">
      <li>Temporary Cash Assistance has time limits.</li>
    <li>The Supplemental Nutrition Assistance Program (formerly Food Supplement Program) and Medical
      Assistance do not have a time limit.</li>
    <li>When Temporary Cash Assistance ends because of time limits, earnings or other reasons, you may
      still get SNAP benefits and Medical Assistance.</li>
    </ul>
    <h3 class="text--small">Interviews</h3>
    <ul class="list--bulleted">
      <li>You, a responsible family member or someone you choose to represent you must be interviewed.</li>
      <li>In most cases we can interview you by telephone.</li>
      <li>You must give or send us the proof we ask for at your interview.</li>
    </ul>
    <h3 class="text--small">If you need help</h3>
    <p>If you need help, applying for benefits, or have questions, or need translations services, call
      your case manager or call 1-800-332-6347.</p>
    <p>Si necesita ayuda para llenar el formulario favor de llamar al 1-800-332-6347.</p>
    <p>The Family Investment Administration is committed to providing access and reasonable
    accommodations to its services, programs, activities, education and employment for individuals
    with disabilities. If you need assistance or need to request a reasonable accommodation, please
      contact your case manager or call 1-800-332-6347.</p>
    <h3 class="text--small">Requesting a Reasonable Accommodation:</h3>
    <p>If you are an individual with a disability, you are entitled to reasonable accommodations to
      help you access DHS's activities, programs and services. This applies even if you are working
      with a local department of social services or a vendor who provides services for DHS
      customers.</p>
    <p>A reasonable accommodation is a modification or adjustment to an activity, program or service
      which helps a qualified individual with a disability have meaningful access to DHS's
      activities, programs and services.</p>
    <h3 class="text--small">Examples of reasonable accommodations:</h3>
    <h4 class="text--small">Hearing Impairment:</h4>
    Sign language interpreter and providing an assistive listening device.
    <h4 class="text--small">Visual Impairment:</h4>
    Having a qualified reader read to a customer.
    <h4 class="text--small">Mobility Impairments:</h4>
    Mailing forms to a customer and meeting a customer at a more accessible location.
    <h4 class="text--small">Developmental Disabilities:</h4>
      <p>Having things written down; taking breaks; scheduling appointments around
      a customer's medical needs.</p>
    <p>You may request a reasonable accommodation from the local department of
      social services or a vendor at any time. Your request may be oral or written. A request for a reasonable
      accommodation may be made in person, in writing or over the telephone. There are no particular words that
      you need to use to request an accommodation. A request may be made by you or someone helping you.
      If you need to request a reasonable accommodation because of your disability, you should speak
      with the case manager or the supervisor or the Customer.
    </p>
    <p>Access Coordinator at your local department of social services. You may ask the case manager
      for the name of the Customer Access Coordinator at your local department of social services. You
      may use the form on the reverse side of this notice. You may also ask for more information at the
      front desk.
    </p>
  </div>
</th:block>
<th:block th:fragment="yourRights">
  <div class="text--small">
    <p>
      In accordance with federal civil rights laws and U.S. Department of Agriculture (USDA) civil
      rights regulations and policies, the USDA, its agencies, offices, and employees, and
      institutions participating in or administering USDA programs are prohibited from
      discriminating
      based on race, color, national origin, sex (including gender identity and sexual orientation),
      religious creed, disability, age, political beliefs, or reprisal or retaliation for prior
      civil
      rights activity in any program or activity conducted or funded by USDA. Programs that receive
      federal financial assistance from the U.S. Department of Health and Human Services (HHS), such
      as Temporary Assistance for Needy Families (TANF), and programs HHS directly operates are also
      prohibited from discrimination under federal civil rights laws and HHS regulations.
    </p>
    <p>Persons with disabilities who require alternative means of communication
      for program information
      (e.g., Braille, large print, audiotape, American Sign Language), should contact the agency
      (state or local) where they applied for benefits. Individuals who are deaf, hard of hearing or
      who have speech disabilities may contact USDA through the Federal Relay Service at (800)
      877-8339. Additionally, program information may be made available in languages other than
      English.
    </p>
    <p>USDA provides federal financial assistance for many food security and
      hunger reduction programs
      such as the Supplemental Nutrition Assistance Program (SNAP), the Food Distribution Program on
      Indian Reservations (FDPIR) and others. To file a program complaint of discrimination,
      complete
      the Program Discrimination Complaint Form, (AD-3027) found online at:
      <a href="https://www.usda.gov/sites/default/files/documents/ad-3027.pdf
" target="_blank" rel="noindex nofollow">usda.gov (ad-3027.pdf)</a>, and at any USDA office or
      write
      a letter addressed to USDA and provide in the letter all of the information requested in the
      form. To request a copy of the complaint form, call (866) 632-9992. Submit your completed form
      or letter to USDA by mail:

    <pre class="text--small">
  Food and Nutrition Service,
  USDA,1320 Braddock Place,
  Room 334, Alexandria,
  VA 22314;

  or fax:
  (833) 256-1665 or
  (202) 690-7442;

  or phone:
  (833) 620-1071;

  or email: FNSCIVILRIGHTSCOMPLAINTS@usda.gov.
</pre>
    </p>
    <p>For any other information regarding SNAP issues, persons should either
      contact the USDA SNAP
      hotline number at (800) 221-5689, which is also in Spanish, or call the
      <a href="https://www.fns.usda.gov/snap/state-directory" target="_blank" rel="noindex nofollow"> state
        information/hotline numbers</a> (click the link for a listing of hotline numbers by state); found
      online at: <a href="https://www.fns.usda.gov/snap/state-directory" target="_blank" rel="noindex nofollow">SNAP hotline</a>.
    </p>
    <p>HHS provides federal financial assistance for many programs to enhance
      health and well-being,
      including TANF, Head Start, the Low Income Home Energy Assistance Program (LIHEAP), and
      others.
      If you believe that you have been discriminated against because of your race, color, national
      origin, disability, age, sex (including pregnancy, sexual orientation, and gender identity),
      or
      religion in programs or activities that HHS directly operates or to which HHS provides federal
      financial assistance, you may file a complaint with the Office for Civil Rights (OCR) for
      yourself or for someone else.
    </p>
    <p>To file a complaint of discrimination for yourself or someone else
      regarding a program receiving
      federal financial assistance through HHS, complete the form online through OCR’s Complaint
      Portal at <a href="https://ocrportal.hhs.gov/ocr/" target="_blank" rel="noindex nofollow">OCR’s Complaint
        Portal</a>. You may also contact OCR via mail at:
      Centralized Case Management Operations, U.S. Department of Health and Human Services,  200
      Independence Avenue, S.W., Room 509F HHH Bldg., Washington, D.C. 20201;
      fax: (202) 619-3818;
      or email: OCRmail@hhs.gov.
    </p>
    <p>Persons who need assistance with filing a civil rights complaint can email
      OCR at
      OCRMail@hhs.gov or call OCR toll-free at 1-800-368-1019, TDD 1-800-537-7697.
    </p>
    <p>For persons who are deaf, hard of hearing, or have speech difficulties,
      please dial
      7-1-1 to access telecommunications relay services.
    </p>
    <p>This institution is an equal opportunity provider.
    </p>
    <h3 class="text--small">Right to Written Notice</h3>
    We must always give you a written notice explaining your benefits when we approve your case. We
    must always give you written notice when we change your benefits, deny or close your case. You
    have 90 days from the notice date to ask for a hearing. If you ask for a hearing within 10 days,
    you may be able to keep getting benefits while you wait for the hearing.
    <h3 class="text--small">Right to Appeal</h3>
    Ask for a hearing if you disagree with the Department’s decision. Your case manager can help you
    write your appeal. At the hearing, you can speak for yourself or bring a lawyer, friend or
    relative to speak for you.
    <h3 class="text--small">Right to Privacy</h3>
    You are giving personal information in the application. We use the information to see if you are
    eligible for benefits. If you do not give the information, we may deny your application. You
    have
    a right to review, change, or correct any information. We will not show your information or give
    it to others unless you give us permission or federal and state law allows us to do so.
    <h3 class="text--small">Right to Claim Good Cause</h3>
    If you want Temporary Cash Assistance (TCA), you must help the Department get child support. You
    may not have to help if it puts you or your family in danger.
    <h3 class="text--small">Right to Refuse Help</h3>
    You do not have to accept help from a religious organization if it is against your religious
    beliefs.
    <h3 class="text--small">Right to Timely Application Processing</h3>
    If you are eligible for expedited Supplemental Nutrition Assistance Program (SNAP) benefits we
    must give you your benefits within 7 days. For the regular SNAP and other programs, except for
    certain Medical Assistance programs, we must process your application within 30 days. There are
    times when there is a delay in processing. If there is a delay, we will send you a letter to
    tell
    you why there is delay in processing your application. If you are incarcerated or in another
    such
    institution and file an application for SNAP benefits or cash assistance, you may not receive
    SNAP
    or cash benefits until you are released. The filing date of your application for assistance will
    be the date of your release from the institution, if it is less than 30 days from the date your
    signed application was received in the Local Department of Social Services (LDSS). SNAP benefits
    are issued from the date of your release based upon your application date.
    <h3 class="text--small">Authorization to Receive Family Planning Information</h3>
    If you want information, you can ask your case manager for a Family Planning Guide. You may also
    contact:
    <ul class="text--small list--bulleted">
      <li>1-800-546-8900 if you need help in finding a provider for birth control or arranging
        prenatal
        care, or
      </li>
      <li>The Center for Maternal and Child Health at 1-800-456-8900
        <a href="https://phpa.health.maryland.gov/mch/Pages/home.aspx" target="_blank" rel="noindex nofollow">Maternal and Child Health Bureau (MCHB)
        </a>
      </li>
    </ul>
  </div>
</th:block>
<th:block th:fragment="yourResponsibilities">
  <div class="text--small">
  <h3 class="text--small">Provide Information</h3>
    <p>You must give true and complete information. You may need to give us proof of this
      information. We
      will keep this information private. Any delay in providing proof may result in your case being
      delayed or denied.</p>
    <p>Collecting application information, including the social security number of each household
      member,
      is authorized under the Food and Nutrition Act of 2008, U.S.C.2011-2036, Social Security Act
      §1137(f) and 42 U.S.C. §1320b-7(d). We use the information to find out if your household is
      eligible.</p>
    <p>We check this information by matching computer programs.</p>
    <p>We also use the information to see if you meet program rules. We may contact your employer,
      bank
      or other party. We may also contact local, state or federal agencies to make sure the
      information
      is correct. We can give your information to other federal or state agencies for official use
      and
      to law enforcement officers who need it to find persons fleeing to avoid the law.</p>
    <h3 class="text--small">If you get too much in benefits:</h3>
    <ul class="list--bulleted">
  <li>You may have to repay the money for the benefits, and</li>
  <li>We may give the application information, including social security numbers, to federal or state
    agencies, as well as private claims collections agencies, for action.</li>
    </ul>
  <p>Giving information is voluntary. If you do not give us information such as social security numbers
  for everyone who wants help, we may deny benefits for each person who does not give a social
    security number. If you do not have a social security number, we will help you get one.</p>
  <h3 class="text--small">Report Changes</h3>
  <p>You must report all changes within 10 days unless you are part of the SNAP simplified reporting
  group and are not receiving Cash Assistance or Medical Assistance. If you want to know if you are
  part of this group, ask your case manager. You may tell us about any changes in person, by
  telephone, or by mail to the Department.</p>
  <p>Note: For all SNAP customers including those who are simplified reporters:</p>
    <ol class="list--numbered">
 <li>If you receive lottery/gambling winnings in the amount equal or greater than $3,500, you must
    report the amount and the date the winnings received to the local department within 10 days</li>
  <li>If you are an Able Bodies Adults Without Dependents (ABAWD), if your work hours decrease below 80
    hours per month, you must report the change to the Local Department within 10 days.</li>
    </ol>
  <h3 class="text--small">Warning</h3>
  We may deny, lower or stop your benefits if you give us wrong information or do not report
  changes. A judge may fine and/or imprison you if you deliberately give wrong information or do not
  report changes.
  </div>
</th:block>
<th:block th:fragment="workRequirementsForSnap">
  <div class="text--small">
    <p>Individuals applying for or receiving SNAP benefits must know and
      understand the following information about the SNAP work registration and work requirements.
      SNAP work requirements are covered in federal law at 7 CFR 273.24.
    </p>
    <p>Everyone over age 18 is required to be registered for work unless otherwise
      exempt, because they are: over age 60, caring for a child under age 6 living in their home,
      applied for or receiving unemployment benefits, self-employed- working a minimum of 30 hours
      or more per week at the equivalent of federal minimum wage, attending a recognized school or
      institution of higher education at least half time, or the individual is mentally or
      physically unfit for work. Work registration is not the same as participation.
    </p>
    <p>Beginning January 1, 2016 able bodied individuals without dependents
      (ABAWDS), ages 18-50, who are not exempt for work registration under one of the above reasons
      or they reside in an area that is designated as exempt, are required to be work registered
      and participate in a work program/activity or be employed.
    </p>
    <p>These individuals known as ABAWDS may only receive SNAP benefits for three months in a fixed
      36 month period unless the individual is employed or participating in an approved work or
      educational activity a minimum of 80 hours per month. The individual may not receive SNAP
      benefits again until he or she meets the work requirements. You will receive additional
      information from the case manager and information is available on the DHS website at:
      <a href="http://dhs.maryland.gov/food-supplement-program/able-bodied-adults-without-dependents-abawds/
" target="_blank" rel="noindex nofollow">Able-Bodied Adults Without Dependents (ABAWDs)</a> .
    </p>
    <h3 class="text--small">Authorized Representatives</h3>
    <p>
      In most instances, if your authorized representative gives us wrong information, you will have
      to pay back any amount you are overpaid.</p>
    <p>If your authorized representative knowingly gives us the wrong information or does not use
      your benefits properly, we may disqualify the person from being an authorized representative
      and prosecute them for fraud under state and federal law.</p>
    <p>If a drug and alcohol treatment center or a group living arrangement acts as your authorized
      representative for your food benefits and they willfully give us wrong information about your
      situation, we may prosecute under applicable State or federal law.</p>
  </div>
</th:block>
<th:block th:fragment="tcaAndSnapPenalties">
  <div class="text--small">
    <p><strong>Do not:</strong></p>
    <ul class="list--bulleted">
      <li>Give false information or withhold information to get or continue to get TCA and/or SNAP
        benefits.
      </li>
      <li>Trade or sell TCA or SNAP benefits, or electronic benefit cards.</li>
      <li>Use TCA and SNAP or electronic benefit cards to buy items not allowed, such as alcohol and
        tobacco or to pay on credit accounts.
      </li>
      <li>Use someone else’s TCA or SNAP benefits.</li>
      <li>Use someone else’s Electronic Benefits Card without authorization.</li>
      <li>Use your EBT card containing TCA benefits in a liquor store, adult entertainment venue
        such as a strip club or in a gambling establishment such as a casino.
      </li>
    </ul>
    <p>Your SNAP benefits will not increase if your cash assistance is reduced or
      closed because you did not follow the rules.
    </p>
    <p class="text--small">If a household member deliberately breaks the rules, we may bar the
      person from TCA or SNAP.</p>
    <ul class="list--bulleted">
      <li>We may bar this person for one year after the first violation.</li>
      <li>We may bar this person for two years:
        <ul class="list--bulleted">
          <li>After the second violation, or</li>
          <li>After the first time a court finds this person guilty of buying illegal drugs with TCA
            or SNAP benefits.
          </li>
        </ul>
      </li>
      <li>We may bar this person permanently:
        <ul class="list--bulleted">
          <li>After the third violation;</li>
          <li>After the second time a court finds a person guilty of buying illegal drugs with TCA
            or SNAP benefits;
          </li>
          <li>After the first time a court finds this person guilty of buying guns, bullets, or
            explosives, with TCA or SNAP benefits; or
          </li>
          <li>After a court finds this person guilty of trafficking TCA or SNAP benefits of $500 or
            more.
          </li>
        </ul>
      </li>
      <li>We may bar this person for 10 years if found guilty of making a false statement about the
        person’s identity in order to receive multiple benefits at the same time.
      </li>
    </ul>
    <p>A judge can also fine this person up to $250,000, imprison the person for up to 20 years, or
      both. A judge can also bar this person for an additional 18 months. The person may also have
      to face further prosecution under other federal laws.16</p>
    <h3 class="text--small">SNAP/EBT Card: Multiple Card Replacements</h3>
    <p>Individuals who request four or more replacement Independence cards in one year may be
      referred to the Office of the Inspector General for investigation of trafficking benefits.</p>
  </div>
</th:block>
<th:block th:fragment="medicaidWarningAndPenalties">
  <div class="text--small">
    <p><strong>Only use Medical Assistance cards if you are eligible.</strong></p>
    <p>Every person convicted of "Medicaid Fraud" with a value of $500 or more in money, services,
      or goods is guilty of a felony, and shall:</p>
    <ol class="list--numbered">
      <li>Pay back money, services or goods; or the value of those services or goods unlawfully
        received;
      </li>
      <li>Be subject to a fine of no more than $10,000, imprisoned for no longer than five years, or
        both.
      </li>
    </ol>
    <p>Every person convicted of "Medicaid Fraud" with a value of less than $500 in money, services
      or goods is guilty of a misdemeanor, and shall:</p>
    <ol class="list--numbered">
      <li> Pay back money, services or goods; or the value of those services or goods unlawfully
        received;
      </li>
      <li>Be fined no more than $1,000 and imprisoned for no longer than three years or both.</li>
    </ol>
  </div>
</th:block>
<th:block th:fragment="readBeforeSigning">
  <div class="text--small">
    <p>I understand that it is important to give true information and if I do not, I am breaking the
      law.</p>
    <p>I understand that I can be fined, imprisoned or have my benefits reduced for making false
      statements or for pretending to be another person.</p>
    <p>I know I can be punished for not reporting changes that may affect my eligibility or benefit
      amount.</p>
    <p>I understand that if I get more SNAP benefits than I should, all adult members of my
      household are liable for repaying the debt.</p>
    <p>I know the Department can use the application against me in a court of law for fraud
      prosecution.</p>
    <p>I know that failing to report or verify shelter, medical or dependent care expenses or child
      support payments is the same as saying I do not want a deduction for the expenses I did not
      verify or report.</p>
    <p>I understand that the Department may check the information on this form to see if it is
      correct and may select my case for a spot check, such as for a Quality Control Review.</p>
    <p>I agree to allow someone from the Department to visit me at home. I will help them get all
      needed proofs from any source.</p>
    <p>I understand by signing this application:</p>
    <ul class="list--bulleted">
      <li>I accept cash assistance and/or medical assistance.</li>
      <li>I agree that Medicare Part B will make payments directly to doctors and medical suppliers.
      </li>
      <li>I give the Department the right to seek payment from private or public health insurance
        and any liable third party. I understand that I must cooperate with the department in
        securing such payments. The Department may seek payment without legal action, as long as it
        does not keep more than the amount Medical Assistance paid.
      </li>
      <li>I give the Department the right to inspect, review and copy all medical records for
        services received through the Medical Assistance Program.17
      </li>
    </ul>
    <p>I understand that when a person is deceased who was at least 55 years old when receiving
      Medical Assistance, the state may take money from the estate to repay payments made on behalf of that
      person.</p>
    <p>The program may take the money only if there is no surviving spouse, unmarried child younger
      than 21, or blind or disabled child (married or unmarried) of any age.</p>
    <p>I understand that, as required by Maryland law, certain law enforcement agencies that
      investigate fraud can obtain information about my application, income, benefits and other
      documentation as part of their investigation. While access to my application and benefit
      information is normally limited (under Md. Code Ann. Human Services Article § 1-201), these
      limits do not apply to these investigative agencies. Such agencies include the Department of
      Human Services’ Office of the Inspector General. I understand that I do not need to provide
      consent to these agencies in order for them to investigate any allegations of fraud against
      me. Any information found as a result of the investigation may be used against me if an
      allegation of fraud is prosecuted.</p>
      <p>I have read or someone has read and explained the entire application to me. I swear or
        affirm under penalty of perjury, that all the information I gave is true, correct, and
        complete to the best of my ability, belief and knowledge. I received a copy of my rights and
        responsibilities. I authorize any person, partnership, corporation, association, or
        governmental agency that knows the facts about my eligibility to give that information
        to the Department. I also authorize the Department to contact any person, partnership,
        corporation, association, or governmental agency that has given proof of my eligibility for
        benefits. I certify, under penalty of perjury, that by signing my name below, all persons
        for whom I am applying are U.S. citizens, lawfully admitted immigrants or individuals in
        satisfactory immigration status.</p>
  </div>
</th:block>
