<th:block th:fragment="assignmentOfSupportRightsForTCA">
  <ul class=”text--small”>
    <li>I assign to the State of Maryland all rights, titles, and interest in support that I may have for myself or for any person receiving TCA, collected from the time I sign this agreement until my assistance ends.</l1>
    <li>This includes any overdue support that has not been collected for the time that I or any person received TCA assistance.</li>
    <li>I agree to have the child support agency collect any support owed to me and to keep up to the amount of TCA paid to me.</li>
    <li>I agree to send to the State of Maryland any support l receive. If l do not turn over this support, I will have to repay this amount to the State of Maryland. I may also be prosecuted for fraud.</li>
  </ul>
  <h3 class=”text--small”>When I am eligible for Medical Assistance:</h3>
  <ul class=”text--small”>
    <li>I assign all rights, title, and interest in medical support and health insurance payments I may have for myself or any person receiving Medical Assistance. This includes overdue medical support or health insurance payments that have not been collected.</li>
    <li>I agree to have the child support agency collect medical support payments owed to me and to keep up to the amount of Medical Assistance payments that were made for me.</li>
    <li>I agree to give the State of Maryland any medical support or health insurance payments I receive.</li>
    <li>I will cooperate to the best of my ability and knowledge with the child support agency while I am receiving TCA and Medical Assistance.</li>
    <li>If I do not cooperate with the child support agency, I may lose all my benefits and my case may be closed.</li>
    <li>I understand that if I have an additional child/ren while receiving TCA or Medical Assistance, I agree to follow all of the requirements for that child/ren or my TCA or MA may be closed.</li>
  </ul>
</th:block>
<th:block th:fragment="ohepAcknowledgement">
  <p class=”text--small”>I swear or affirm under penalty of perjury that all the information I gave to the Office of Home Energy Programs (OHEP) in this Energy Assistance Application is true, correct, and complete to the best of my ability, belief, and knowledge. I am the representative of the individual household members identified in this application, and I submit this application on behalf of myself and the other individual household members. I authorize OHEP and/or the Office of Inspector General (OIG) to investigate and confirm the accuracy and completeness of all household income and other information provided with this application, including but not limited to the use of governmental and consumer reporting agency data regarding employment income.
  </p>
  <p class=”text--small”>I consent to allow my gas, electric, oil company, or any other energy provider to provide relevant account information to OHEP and for OHEP to communicate with those providers regarding this application. I allow OHEP to release and exchange relevant information with other agencies in order to make appropriate referrals to services that may assist me to lower my energy bill or help me to better afford my energy costs. I consent for my information to be entered into other secure databases for tracking of services, statistical information, and program evaluation.
  </p>
  <p class=”text--small”>I understand that if heat is included as part of my rent, I understand that OHEP will refer all necessary information from my application to DHCD's energy efficiency programs. I also give my permission for DHCD to access my utility consumption data through my utility provider(s) in order to determine the energy efficiency improvements for which I may be eligible. I understand that if I decide to participate in any of the energy efficiency programs at a later date, this application is my authorization for the programs to access my utility consumption data.
  </p>
  <p class=”text--small”>  An appeal can be filed to change the decision on this application or if help is not given in a reasonable time. The appeal must be filed within 30 days of the decision. The local agency will tell me how to file. Free legal advice may be available through the Legal Aid Bureau by calling toll-free 1-800-999-8904.
  </p>
  <p class=”text--small”>  Maryland has a fraud law that will be vigorously enforced for intentional misrepresentations of information contained on this application.
  </p>
  <p class=”text--small”>  Punishment can occur for not telling the truth when applying for assistance to pay home energy costs. If a household member intentionally misrepresents information, that member may be disqualified from the program for a set amount of time.
  </p>
</th:block>
