<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{applicant-applying.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: passport}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{applicant-applying.title})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::content})}">
          <th:block th:ref="content">
            <div class="form-card__content form-group-spacing-half">
              <th:block th:replace="~{fragments/inputs/radioFieldset ::
                              radioFieldset(inputName='isApplicantApplying',
                              label=#{applicant-applying.do-you-want},
                              fieldsetHelpText=#{applicant-applying.do-you-want-help-text},
                              content=~{::inputContent})}">
                <th:block th:ref="inputContent">
                  <th:block
                      th:replace="~{fragments/inputs/radio :: radio(inputName='isApplicantApplying',value='Yes', label=#{applicant-applying.yes})}"/>
                  <th:block
                      th:replace="~{fragments/inputs/radio :: radio(inputName='isApplicantApplying',value='No', label=#{applicant-applying.no})}"/>
                </th:block>
              </th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
