<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{race-ethnicity-selection.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: face}"></th:block>

        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{race-ethnicity-selection.header}, subtext=#{race-ethnicity-selection.subheader})}"/>

        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::raceSelection})}">
          <th:block th:ref="raceSelection">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/checkboxFieldsetWithHelpUtext :: checkboxFieldset(
                  inputName='applicantRace',
                  label=#{race-selection.header},
                  fieldsetHelpText=#{race-selection.subheader},
                  content=~{::raceSelectionOptions})}">
                <th:block th:ref="raceSelectionOptions">
                  <th:block
                      th:each="raceType : ${T(org.mdbenefits.app.data.enums.RaceType).values()}">
                    <th:block
                        th:with="isOther=${raceType.name().equals(T(org.mdbenefits.app.data.enums.RaceType).PREFER_NO_ANSWER.name())}">
                      <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(
                          inputName='applicantRace',
                          value=${raceType.name()},
                          noneOfTheAbove=${isOther},
                          label=#{${raceType.getLabelSrc()}})}"/>
                    </th:block>
                  </th:block>
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/inputs/radioFieldset ::
                        radioFieldset(inputName='applicantEthnicity',
                        label=#{ethnicity-selection.header},
                        fieldsetHelpText=#{ethnicity-selection.subheader},
                        content=~{::ethnicitySelectionFieldSet})}">
                <th:block th:ref="ethnicitySelectionFieldSet">
                  <th:block
                      th:each="ethnicityType : ${T(org.mdbenefits.app.data.enums.EthnicityType).values()}">
                    <th:block
                        th:replace="~{fragments/inputs/radio ::
                            radio(
                                inputName='applicantEthnicity',
                                value=${ethnicityType.name()},
                                label=#{${ethnicityType.getLabelSrc()}}
                            )
                        }"/>
                  </th:block>
                </th:block>
              </th:block>

            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
