<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{recertification-check.title},
    iconFragment=~{fragments/icons :: documentAndEnvelope},
    header=#{recertification-check.header},
    subtext=#{recertification-check.subtext},
    inputName='needsToReCertify',
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/radioFieldset ::
                              radioFieldset(inputName='needsToReCertify',
                              ariaLabel='header',
                              content=~{::recertOptions})}">
      <th:block th:ref="recertOptions">
        <th:block
            th:replace="~{fragments/inputs/radio :: radio(inputName='needsToReCertify',value='false', label=#{recertification-check.choice-new-app})}"/>
        <th:block
            th:replace="~{fragments/inputs/radio :: radio(inputName='needsToReCertify',value='true', label=#{recertification-check.choice-re-cert})}"/>
      </th:block>
    </th:block>
  </th:block>
</th:block>