<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{choose-programs.title},
    header=#{choose-programs.header},
    buttonLabel=#{general.inputs.continue},
    subtext=#{choose-programs.check-all-that-apply},
    inputName='programs',
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='programs',
                  ariaLabel='header header-help-message',
                  content=~{::content})}">
      <th:block th:ref="content">
        <th:block
            th:with="relevantPrograms = ${T(org.mdbenefits.app.utils.ApplicationUtilities).flattenHouseholdNeedsPrograms(fieldData.get('helpNeeded[]'))}">
          <th:block
              th:each="programType : ${T(org.mdbenefits.app.data.enums.ProgramType).values()}">
            <th:block
                th:if="${relevantPrograms.contains(programType)}">
              <h2
                  th:with="shortDesc=${programType.getShortDescSrc().isBlank()} ? '' : #{${programType.getShortDescSrc()}}"
                  th:utext="${shortDesc}">
              </h2>
              <th:block
                  th:replace="~{fragments/inputs/checkboxInSet:: checkboxInSet(
                              inputName='programs',
                              value=${programType.name()},
                              label=#{${programType.getNameSrc()}},
                              checkboxHelpText=#{${programType.getDescSrc()}})}">
              </th:block>
            </th:block>
          </th:block>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>