<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{review-contact-info.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: docWithMagnifyingGlass}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{review-contact-info.header})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::reviewContent})}">
          <th:block th:ref="reviewContent">
            <div class="form-card__content">
              <b th:text="#{review-contact-info.name}"></b>
              <div class="spacing-above-15">
                <p th:text="${fieldData.firstName} + ' ' + ${fieldData.lastName}"></p>
              </div>
              <hr class="spacing-below-35 spacing-above-20">
              <b th:text="#{review-contact-info.birthdate}"></b>
              <div class="spacing-above-10">
                <p th:text="${T(org.mdbenefits.app.utils.SubmissionUtilities).getFormattedBirthdate(fieldData)}"></p>
              </div>
              <b th:text="#{review-contact-info.mailing-address}"></b>
              <div class="spacing-above-10">
                <p class="spacing-below-5" th:text="${fieldData.mailingAddressStreetAddress1}"></p>
                <p class="spacing-below-5" th:text="${fieldData.mailingAddressStreetAddress2}"></p>
                <p class="spacing-below-5"
                   th:text="${fieldData.mailingAddressCity} + ', ' + ${fieldData.mailingAddressState}"></p>
                <p th:text="${fieldData.mailingAddressZipCode}"></p>
              </div>

              <hr class="spacing-below-35 spacing-above-35">
              <div class="spacing-above-15">
                <b th:text="#{review-contact-info.cell-phone-number}"></b>
                <p class="spacing-below-5 spacing-above-10"
                   th:text="${fieldData.getOrDefault('cellPhoneNumber', '')}"></p>
              </div>

              <hr class="spacing-below-35 spacing-above-35">
              <div class="spacing-above-15">
                <b th:text="#{review-contact-info.get-text-messages}"></b>
                <div class="spacing-above-10">
                  <p th:text=
                         "${fieldData.textingCellNumberIsOkay.equals('true') ? #messages.msg('general.inputs.yes') : #messages.msg('general.inputs.no')}"></p>
                </div>
              </div>

              <hr class="spacing-below-35 spacing-above-35">
              <div class="spacing-above-15">
                <b th:text="#{review-contact-info.home-phone-number}"></b>
                <p class="spacing-below-5 spacing-above-10"
                   th:text="${fieldData.getOrDefault('homePhoneNumber', '--')}"></p>
              </div>

              <hr class="spacing-below-35 spacing-above-35">
              <div class="spacing-above-15">
                <b th:text="#{review-contact-info.work-phone-number}"></b>
                <p class="spacing-below-5 spacing-above-10"
                   th:text="${fieldData.getOrDefault('workPhoneNumber', '--')}"></p>
              </div>

              <hr class="spacing-below-35 spacing-above-35">
              <div class="spacing-above-15">
                <b th:text="#{review-contact-info.email-address}"></b>
                <p class="spacing-below-5 spacing-above-10"
                   th:text="${fieldData.getOrDefault('emailAddress', '--')}"></p>
              </div>
            </div>
            <hr class="spacing-below-35 spacing-above-35">
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{review-contact-info.this-looks-correct})}"/>
              <a class="button button--secondary" th:text="#{review-contact-info.edit}"
                 th:href="'/flow/' + ${flow} + '/personalInfo'"></a>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
