<th:block
    th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{county.title},
    iconFragment=~{fragments/icons :: county},
    header=#{county.header},
    buttonLabel=#{general.inputs.continue},
    inputName='county',
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block
        th:replace="~{fragments/inputs/select :: select(helpText=#{county.subheader}, ariaLabel='header', inputName='county', content=~{::selectContent})}">
      <th:block th:ref="selectContent">
        <th:block
            th:replace="~{fragments/inputs/selectOptionPlaceholder :: selectOptionPlaceholder(optionText=#{county.select})}"/>
        <th:block
            th:each="countyEnum : ${T(org.mdbenefits.app.data.enums.County).values()}">
          <th:block
              th:replace="~{fragments/inputs/selectOption :: selectOption(
                                                value=${countyEnum.name()},
                                                optionText=${#messages.msg(countyEnum.getLabelSrc())}
                                            )}"/>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>