<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{how-to-add-documents.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35"
            th:with="maxFiles=${@environment.getProperty('form-flow.uploads.max-files')},
                     maxSize=${@environment.getProperty('form-flow.uploads.max-file-size')}">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{how-to-add-documents.header})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <div class="center">
                <th:block th:replace="~{fragments/icons :: personalDevices}"></th:block>
              </div>
              <ul class="list--bulleted">
                <li th:text="#{how-to-add-documents.take-photos}"></li>
                <li th:text="#{how-to-add-documents.select-files}"></li>
                <li th:text="#{how-to-add-documents.take-screenshot}"></li>
              </ul>
              <span class="spacing-left-1_5"
                    th:utext="${#messages.msg('how-to-add-documents.you-can-upload', maxFiles)}"></span>
              <br/>
              <span class="spacing-left-1_5"
                    th:utext="${#messages.msg('how-to-add-documents.each-file', maxSize)}"></span>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/yesOrNo :: yesOrNo(
                inputName='addDocuments',
                ariaDescribe='header',
                overrideNoText=#{doc-upload-instructions.skip-documents},
                overrideYesText=#{doc-upload-instructions.add-documents})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>