<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{final-page.title})}"></head>
<body>
<script>
  setTimeout(function () {
    window.location.href = "/";
  }, 5000);
</script>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: nextSteps}"/>
        <th:block th:if="${fieldData.containsKey('applicationFeedback')}">
          <th:block
              th:replace="~{fragments/cardHeader :: cardHeader(header=#{final-page.header.opt1})}"/>
        </th:block>
        <th:block th:unless="${fieldData.containsKey('applicationFeedback')}">
          <th:block
              th:replace="~{fragments/cardHeader :: cardHeader(header=#{final-page.header.opt2})}"/>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>

