<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{additional-income.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: assetsCashAccounts}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{additional-income.header}, subtext=#{additional-income.subtext})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='additionalIncome',
                  ariaLabel='header',
                  content=~{::content})}">
                <th:block th:ref="content">
                  <th:block
                      th:each="addIncome : ${T(org.mdbenefits.app.data.enums.AdditionalIncomeType).values()}">
                    <th:block
                        th:with="isOther=${addIncome.name().equals(T(org.mdbenefits.app.data.enums.AdditionalIncomeType).NONE_OF_THESE.name())}">
                      <th:block
                          th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(
                        inputName='additionalIncome',
                        value=${addIncome.name()},
                        noneOfTheAbove=${isOther},
                        label=#{${addIncome.getLabelSrc()}})}"/>
                    </th:block>
                  </th:block>
                </th:block>
              </th:block>
            </div>
            <div class="form-card__footer">
              <th:block
                  th:replace="~{fragments/inputs/submitButton :: submitButton( text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>