<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{household-info.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: personMilestone}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{household-info.header})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='householdMemberFirstName',
                  label=#{household-info.first-name-question},
                  helpText=#{household-info.name-help})}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='householdMemberMiddleName',
                  label=#{household-info.middle-name-question},
                  helpText=#{household-info.name-help})}"/>
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='householdMemberLastName',
                  label=#{household-info.last-name-question},
                  helpText=#{household-info.name-help})}"/>
              <th:block
                  th:replace="~{fragments/inputs/select :: select(label=#{household-info.relationship-question}, inputName='householdMemberRelationship', content=~{::relationship})}">
                <th:block th:ref="relationship">
                  <th:block
                      th:replace="~{fragments/inputs/selectOptionPlaceholder :: selectOptionPlaceholder(optionText=#{household-info.relationship-placeholder})}"/>
                  <th:block th:each="relationship : ${T(org.mdbenefits.app.data.enums.RelationshipType).values()}">
                    <th:block
                        th:replace="~{fragments/inputs/selectOption :: selectOption(value=${relationship.getValue()}, optionText=#{${relationship.getLabelSrc()}})}"/>
                  </th:block>
                  
                </th:block>
              </th:block>
              <th:block>
                <th:block th:replace="~{fragments/inputs/radioFieldset ::
                              radioFieldset(inputName='householdMemberApplyingForBenefits',
                              label=#{household-info.applying-for-benefits},
                              fieldsetHelpText=#{household-info.applying-for-benefits.info},
                              content=~{::applyingOptions})}">
                  <th:block th:ref="applyingOptions">
                    <th:block
                        th:replace="~{fragments/inputs/radio :: radio(inputName='householdMemberApplyingForBenefits',value='Yes', label=#{general.inputs.yes})}"/>

                    <th:block
                        th:replace="~{fragments/inputs/radio :: radio(inputName='householdMemberApplyingForBenefits',value='No', label=#{general.inputs.no})}"/>
                  </th:block>
                </th:block>
              </th:block>
              <div class="form-card__footer">
                <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
              </div>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
