<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{how-this-works.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: prepareToApply}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{how-this-works.header}, subtext=#{how-this-works.subtext})}"/>
        <p th:utext="#{how-this-works.we-will-ask}"></p>
        <ul class="list--bulleted spacing-below-60">
          <li th:text="#{how-this-works.we-will-ask-l1}"></li>
          <li th:text="#{how-this-works.we-will-ask-l2}"></li>
          <li th:text="#{how-this-works.we-will-ask-l3}"></li>
          <li th:text="#{how-this-works.we-will-ask-l4}"></li>
          <li th:text="#{how-this-works.we-will-ask-l5}"></li>
          <li th:text="#{how-this-works.we-will-ask-l6}"></li>
        </ul>
        <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
          buttonLabel=#{how-this-works.who-can},
          content=~{::who})}">
          <th:block th:ref="who">
            <p th:text="#{how-this-works.who-can-l1}"></p>
            <p th:text="#{how-this-works.who-can-l2}"></p>
          </th:block>
        </th:block>
        <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
          buttonLabel=#{how-this-works.after},
          content=~{::after})}">
          <th:block th:ref="after">
            <p th:text="#{how-this-works.after-l1}"></p>
            <p th:text="#{how-this-works.after-l2}"></p>
          </th:block>
        </th:block>
        <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
          buttonLabel=#{how-this-works.how-soon},
          content=~{::how-soon})}">
          <th:block th:ref="how-soon">
            <p th:text="#{how-this-works.how-soon-l1}"></p>
            <p th:text="#{how-this-works.how-soon-l2}"></p>
            <p th:text="#{how-this-works.how-soon-l3}"></p>
          </th:block>
        </th:block>
        <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
          buttonLabel=#{how-this-works.minimum-application},
          content=~{::minimum-application})}">
          <th:block th:ref="minimum-application">
            <p th:text="#{how-this-works.minimum-application-l1}"></p>
            <p th:utext="#{how-this-works.minimum-application-l2}"></p>
            <p th:utext="#{how-this-works.minimum-application-l3}"></p>
            <p th:utext="#{how-this-works.minimum-application-l4}"></p>
          </th:block>
        </th:block>
        <th:block th:replace="~{fragments/honeycrisp/accordion :: accordion(
          buttonLabel=#{how-this-works.add-documents},
          content=~{::add-documents})}">
          <th:block th:ref="add-documents"
                    th:with="email=${inputData.county == T(org.mdbenefits.app.data.enums.Counties).BALTIMORE.name() ? 
                    '<a href=&quot;mailto:baltimorecounty.dmc@maryland.gov&quot; target=&quot;_blank&quot;>baltimorecounty.dmc@maryland.gov</a>' :
                    (inputData.county == T(org.mdbenefits.app.data.enums.Counties).QUEEN_ANNES.name() ?
                    '<a href=&quot;mailto:qacfia.customeraccount@maryland.gov&quot; target=&quot;_blank&quot;>qacfia.customeraccount@maryland.gov</a>' : null)}">
            <p th:text="#{how-this-works.add-documents-l1}"></p>
            <p th:utext="#{how-this-works.add-documents-l2}"></p>
            <p th:utext="#{how-this-works.add-documents-l3}"></p>
            <p id="county-document-email"
               th:utext="#{how-this-works.add-documents-l4(${email})}"></p>
          </th:block>
        </th:block>
        <div class="spacing-above-60">
          <th:block th:replace="~{fragments/continueButton :: continue}"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>