<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{legal-stuff.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <div class="grid__item spacing-above-35 text--centered">
          <th:block th:replace="~{fragments/icons :: docWithMagnifyingGlass}"></th:block>
          <th:block
              th:replace="~{fragments/cardHeader :: cardHeader(header=#{legal-stuff.header})}"/>
          <p class="text--help"
             th:text="#{legal-stuff.help}"></p>
        </div>
        <div class="form-card__content">
          <div class="grid__item intro-section boxed-content spacing-below-60">
            <h3 class="h3 text--centered intro-box__title" th:text="#{legal-stuff.next-well-ask-you-to}"></h3>
            <ol class="list--numbered spacing-above-10">
              <li th:text="#{legal-stuff.answer-legal-question}"></li>
              <li th:text="#{legal-stuff.review-legal-agreements}"></li>
              <li th:text="#{legal-stuff.sign-and-submit}"></li>
            </ol>
          </div>
        </div>
        <div class="form-card__footer text--centered">
          <th:block th:replace="~{fragments/continueButton :: continue}"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
