<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{personal-info.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: face}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{personal-info.header})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::personalInfo})}">
          <th:block th:ref="personalInfo">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='firstName',
                  label=#{personal-info.firstname},
                  helpText=#{personal-info.firstname-help})}"/>

              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='middleName',
                  label=#{personal-info.middlename},
                  helpText=#{personal-info.middlename-help})}"/>

              <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName='lastName',
                  label=#{personal-info.lastname},
                  helpText=#{personal-info.lastname-help})}"/>


              <th:block th:replace="~{fragments/inputs/date ::
                  date(inputName='birth',
                  label=#{personal-info.birthdate},
                  helpText='personal-info.date-of-birth.help',
                  required=true,
                  groupName='birthDate')}"/>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
