<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{rights-and-responsibilities.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: docWithMagnifyingGlass}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{rights-and-responsibilities.header1})}"/>
        <p th:utext="#{rights-and-responsibilities.subheader}"></p>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::legalExpand1})}">
          <th:block th:ref="legalExpand1">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/accordion :: accordion(
                  buttonLabel=~{::contentLabel1},
                  content=~{::content1})}">
                <th:block th:ref="contentLabel1">
                  <span th:text="#{rights-and-responsibilities.what-you-should-know-label}"></span>
                </th:block>
                <th:block th:ref="content1">
                  What you should know content
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/accordion :: accordion(
                  buttonLabel=~{::contentLabel2},
                  content=~{::content2})}">
                <th:block th:ref="contentLabel2">
                  <span th:text="#{rights-and-responsibilities.your-rights-label}"></span>
                </th:block>
                <th:block th:ref="content2">
                  Your Rights
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/accordion :: accordion(
                  buttonLabel=~{::contentLabel3},
                  content=~{::content3})}">
                <th:block th:ref="contentLabel3">
                  <span th:text="#{rights-and-responsibilities.your-responsibilities-label}"></span>
                </th:block>
                <th:block th:ref="content3">
                  Your Responsibilities
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/accordion :: accordion(
                  buttonLabel=~{::contentLabel4},
                  content=~{::content4})}">
                <th:block th:ref="contentLabel4">
                  <span th:text="#{rights-and-responsibilities.work-requirements-for-snap-label}"></span>
                </th:block>
                <th:block th:ref="content4">
                  Work Requirements for SNAP
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/accordion :: accordion(
                  buttonLabel=~{::contentLabel5},
                  content=~{::content5})}">
                <th:block th:ref="contentLabel5">
                  <span th:text="#{rights-and-responsibilities.tca-and-snap-penalties-label}"></span>
                </th:block>
                <th:block th:ref="content5">
                  TCA and SNAP Penalties
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/accordion :: accordion(
                  buttonLabel=~{::contentLabel6},
                  content=~{::content6})}">
                <th:block th:ref="contentLabel6">
                  <span th:text="#{rights-and-responsibilities.read-before-signing-label}"></span>
                </th:block>
                <th:block th:ref="content6">
                  Read before signing
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/inputs/checkbox ::
                checkbox(inputName='rightsAndResponsibilitiesAgree',
                label=#{rights-and-responsibilities.agree},
                value=true
               )}"/>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
