<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{help-needed.title},
    iconFragment=~{fragments/icons :: choosePrograms},
    buttonLabel=#{general.inputs.continue},
    header=#{help-needed.header},
    subtext=#{help-needed.subheader},
    inputName='helpNeeded',
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/checkboxFieldset :: checkboxFieldset(
                                    inputName='helpNeeded',
                                    ariaLabel='header',
                                    content=~{::content})}">
      <th:block th:ref="content">
        <th:block
            th:each="helpNeededType : ${T(org.mdbenefits.app.data.enums.HelpNeededType).values()}">
          <th:block
              th:with="isOther=${helpNeededType.name().equals(T(org.mdbenefits.app.data.enums.HelpNeededType).NOT_SURE.name())}">
            <th:block th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(
                                                    inputName='helpNeeded',
                                                    value=${helpNeededType.name()},
                                                    noneOfTheAbove=${isOther},
                                                    label=#{${helpNeededType.getLabelSrc()}})}">
            </th:block>
          </th:block>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>