<th:block
  th:replace="~{fragments/screens/screenWithOneInput ::
  screenWithOneInput(
    title=#{select-app.title},
    iconFragment=~{fragments/icons :: documentAndEnvelope},
    buttonLabel=#{general.inputs.continue},
    header=#{select-app.header},
    subtext=#{select-app.subheader},
    inputName='applicationInfo',
    formAction=${formAction},
    inputContent=~{::inputContent})}">
  <th:block th:ref="inputContent">
    <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='applicationInfo',
                  ariaLabel='header header-help-message',
                  content=~{::content})}">
      <th:block th:ref="content">
        <th:block
            th:each="appObjective : ${T(org.mdbenefits.app.data.enums.ApplicantObjective).values()}">
          <th:block
              th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(
                            inputName='applicationInfo',
                            value=${appObjective.name()},
                            label=#{${appObjective.getLabelSrc()}},
                            noneOfTheAbove=${appObjective.name().equals('OTHER')}
                            )}">
          </th:block>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
</th:block>