<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{sensitive-conviction-questions.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{sensitive-conviction-questions.header}, subtext=#{sensitive-conviction-questions.subtext})}"/>
        <th:block
            th:replace="~{fragments/form :: form(action=${formAction}, content=~{::sensitiveQuestionsContent})}">
          <th:block th:ref="sensitiveQuestionsContent">
            <div class="form-card__content"
                 th:each="question : ${T(org.mdbenefits.app.utils.SubmissionUtilities).SENSITIVE_CONVICTION_QUESTIONS}">
              <div th:with="inputName='someone' + ${question}, label='sensitive-conviction-question-' + ${question}">
                <th:block th:replace="~{fragments/inputs/radioFieldsetUnescaped ::
                              radioFieldsetUnescaped(inputName=${inputName},
                              label=#{${label}},
                              content=~{::trueFalseOptions})}">
                  <th:block th:ref="trueFalseOptions">
                    <th:block
                        th:replace="~{fragments/inputs/radio :: radio(inputName=${inputName},value='false', label=#{sensitive-conviction-question-no})}"/>
                    <th:block
                        th:replace="~{fragments/inputs/radio :: radio(inputName=${inputName},value='true', label=#{sensitive-conviction-question-yes})}"/>
                  </th:block>
                </th:block>

              </div>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
        </th:block>
      </main>
    </div>
  </section>
 </div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>
