<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{tca-ohep-agreement.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: docWithMagnifyingGlass}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{tca-ohep-agreement.header1})}"/>
        <p th:utext="#{tca-ohep-agreement.subheader}"></p>
        <th:block th:replace="~{fragments/form :: form(action=${formAction}, content=~{::legalExpand1})}">
          <th:block th:ref="legalExpand1">
            <div class="form-card__content">
              <th:block th:replace="~{fragments/accordion :: accordion(
                  buttonLabel=~{::contentLabel1},
                  content=~{::content1})}">
                <th:block th:ref="contentLabel1">
                  <span th:text="#{tca-ohep-agreement.tca-acknowledgement-label}"></span>
                </th:block>
                <th:block th:ref="content1">
                  Assignment of Support Rights for TCA content
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/inputs/checkbox ::
                checkbox(inputName='tcaAcknowledgementAgree',
                label=#{tca-ohep-agreement.tca-acknowledgement-label-agree},
                value=true
               )}"/>
              <th:block th:replace="~{fragments/accordion :: accordion(
                  buttonLabel=~{::contentLabel2},
                  content=~{::content2})}">
                <th:block th:ref="contentLabel2">
                  <span th:text="#{tca-ohep-agreement.ohep-acknowledgement-label}"></span>
                </th:block>
                <th:block th:ref="content2">
                  OHEP ackowledgement content
                </th:block>
              </th:block>
              <th:block th:replace="~{fragments/inputs/checkbox ::
                checkbox(inputName='ohepAcknowledgementAgree',
                label=#{tca-ohep-agreement.ohep-acknowledgement-label-agree},
                value=true
               )}"/>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
