<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{index.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: nextSteps}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{index.pilot-over-header}, subtext=#{index.pilot-over-subheader})}"/>
        <div class="form-card__footer">
          <a class="button--primary button" href="https://mymdthink.maryland.gov" th:text="#{index.pilot-over-link}"></a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>