<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{index.title})}"></head>
<body class="template--static-page">
<div class="page-wrapper">
  <th:block th:replace="~{fragments/toolbar :: toolbar}"/>
  <main id="content" role="main">
    <section class="slab slab--white">
      <div class="grid">
        <div class="grid__item width-one-half">
          <th:block th:replace="~{fragments/icons :: nextSteps}"></th:block>
          <h1 class="spacing-below-15 spacing-above-0" th:utext="#{index.header}"></h1>
          <p class="spacing-below-15" th:utext="#{index.description}"></p>
          <a id="upload_docs_1" th:href="#{index.apply-now.link}"
             th:utext="#{index.apply-now}"
             th:rel="keep-params"
             class="button button--primary spacing-below-10"><i
              class="button__icon icon-arrow_forward"></i></a>
          <p th:utext="#{index.apply-on-mdthink}"></p>
        </div>
        <div class="grid__item width-one-half">
          <picture>
            <source srcset="/assets/images/mother-with-laptop-father-playing.webp"
                    type="image/webp">
            <source srcset="/assets/images/mother-with-laptop-father-playing.png" type="image/png">
            <img src="/assets/images/mother-with-laptop-father-playing.png"
                 alt="A mother with laptop while father and child playing">
          </picture>
        </div>
      </div>
    </section>
  </main>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
